<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.smbms.dao.provider.ProviderMapper">
	
	<select id="getProviderList" resultType="provider">
		select * from smbms_provider where 1=1
		<if test="proName != null and proName != ''">
			and proName like CONCAT('%',#{proName},'%')
		</if>
		<if test="proCode != null and proCode != ''">
			and proCode like CONCAT('%',#{proCode},'%')
		</if>
		order by creationDate DESC limit #{currentPageNo},#{pageSize}
	</select>
	
	<select id="getproviderCount" resultType="int">
		select count(1) as count from smbms_provider p where 1 = 1
		<if test="proName != null and proName != ''">
			and p.proName like CONCAT('%',#{proName},'%')
		</if>
		<if test="proCode != null and proCode != ''">
			and p.proCode like CONCAT('%',#{proCode},'%')
		</if>
	</select>
	
	<insert id="add">
		insert into smbms_provider (proCode,proName,proDesc,proContact,proPhone,proAddress,proFax,createdBy,creationDate) values (#{proCode},#{proName},#{proDesc},#{proContact},#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate})
	</insert>
	
	<select id="getProviderById" resultType="provider">
		select * from smbms_provider where id=#{id}
	</select>
	
	<update id="modify">
		update smbms_provider set proName=#{proName},proDesc=#{proDesc},proContact=#{proContact},proPhone=#{proPhone},proAddress=#{proAddress},proFax=#{proFax},modifyBy=#{modifyBy},modifyDate=#{modifyDate} where id = #{id} 
	</update>
	
	<delete id="deleteProById">
		delete from smbms_provider where id=#{id}
	</delete>
	
	<select id="getAll" resultType="provider">
		select * from smbms_provider
	</select>
</mapper>