<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.smbms.dao.bill.BillMapper">
	<select id="getBillList" resultType="bill">
		select p.proName,b.* from smbms_bill b
		INNER JOIN smbms_provider p On b.providerId = p.id
		WHERE 1=1
		<if test="productName != null and productName != ''">
			and productName like CONCAT('%',#{productName},'%')
		</if>
		<if test="providerId > 0">
			and providerId=#{providerId}
		</if>
		<if test="isPayment > 0">
			and isPayment=#{isPayment}
		</if>
		order by creationDate DESC limit #{currentPageNo},#{pageSize}
	</select>
	
	<select id="getbillCount" resultType="int">
		select count(1) as count from smbms_bill where 1 = 1
		<if test="productName != null and productName != ''">
			and productName like CONCAT('%',#{productName},'%')
		</if>
		<if test="providerId > 0">
			and providerId=#{providerId}
		</if>
	</select>
	
	<insert id="add">
		insert into smbms_bill (billCode,productName,productUnit,productCount,totalPrice,providerId,isPayment,createdBy,creationDate) values (#{billCode},#{productName},#{productUnit},#{productCount},#{totalPrice},#{providerId},#{isPayment},#{createdBy},#{creationDate})
	</insert>
	
	<select id="getBillById" resultType="bill">
		select p.proName,b.* from smbms_bill b
		INNER JOIN smbms_provider p On b.providerId = p.id
		where b.id=#{id}
	</select>
	
	<update id="modify">
		update smbms_bill set billCode=#{billCode},productName=#{productName},productUnit=#{productUnit},productCount=#{productCount},totalPrice=#{totalPrice},providerId=#{providerId},isPayment=#{isPayment},modifyBy=#{modifyBy},modifyDate=#{modifyDate} where id = #{id} 
	</update>
	
	<delete id="deleteBillById">
		delete from smbms_bill where id=#{id}
	</delete>
</mapper>